<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交结果</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/apply_success.css" %}">
</head>
<body>
<div style="height: 100%">
    <div class="tip">
        写入成功，你可以<a href="{% url 'mng:apply_modify' apply_id %}">修改</a>写入的记录或者<a href="{% url 'mng:apply' %}">写入新记录</a>。
    </div>

</div>
</body>
</html>