<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题解答</title>
    {% load staticfiles %}
     <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/faq.css" %}">
</head>
<body>
<div class="question">
    Q: 如何申请物资？
</div>
<div class="answer">
    A: 点击左侧物资申请，录入对应的信息即可。
</div>
<div class="question">
    Q: 申请时必填项有哪些？
</div>
<div class="answer">
    A: 活动名称，申请单位，负责人，联系电话，时间。物资数量不填的默认为0。<br>
    （通常是需要填写至少一项物资数量的，有一种特殊情况是，需要借用表格上没有的特殊物资，这种情况允许所有物资都不填。）
</div>
<div class="question">
    Q: 申请时会自动检查哪些东西？
</div>
<div class="answer">
    A: 日期是否是有效日期（比如会提示2月30日是错误的）<br>
       &nbsp;&nbsp;&nbsp;&nbsp;麦克风，音响，投影仪只能借给三大组织，借出这三种物资时会检查有没有在“申请单位”那里选上“特殊”。<br>
       &nbsp;&nbsp;&nbsp;&nbsp;必填项有没有漏填。<br>
       &nbsp;&nbsp;&nbsp;&nbsp;除了胶凳外，检查其他物资是否有余量。
</div>
<div class="question">
    Q: 可以更改物资的上限吗？
</div>
<div class="answer">
    A: 在左侧“设置”里更改。
</div>
<div class="question">
    Q: 如何修改或删除物资申请记录？
</div>
<div class="answer">
    A: 点击左侧物资物资一览，按日期找到想要修改的记录，点开详情，即可看到修改和删除入口。
</div>
<div class="question">
    Q: 活动时间两种模式是什么意思？
</div>
<div class="answer">
    A: 为方便快速录入而生的两种模式，可以点击日期旁圆形图标切换<br>
    &nbsp;&nbsp;&nbsp;&nbsp;“天”模式，起始时间与结束时间以天为单位。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;起始日期与结束日期相同时，作为仅一天<br>
    &nbsp;&nbsp;&nbsp;&nbsp;“周”模式，起始时间与结束时间以周为单位。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;结束时间与起始时间均包含在借用时间内。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;每周第一天为周一。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;起始周与结束周相同时，作为仅一周<br>
</div>

<div class="question">
    Q: 活动时间只有一天应该怎样填？
</div>
<div class="answer">
    A: 将起始与结束日期写为同一天，或者不填写起始结束日期，直接填写片段时间。
</div>
<div class="question">
    Q: 新学期周模式不对怎么办？
</div>
<div class="answer">
    A: 在设置中输入本学期的第一个周一
</div>

</body>
</html>