input {
    margin: 5px 5px 0 10px;
    width: 250px;
    font-size: 14px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    box-shadow: inset 0 2px 5px #eee;
    color: #787878;
}

.container {
    padding: 1rem;
    height: 100%;
    background: whitesmoke;
}